
$orange: #F39C11;
$white: #fff;

%textStyle {
    font: {
        family: 'Myriad_Pro';
        size: 28px;
    }
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $orange;
}

.text {
    &__container {
        color: $white;
        height: 30px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__beginning {
        float: left;
        @extend %textStyle;
    }
    &__variants-list {
        float: right;
        margin-left: 20px;
        animation-name: change;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }

}

.variants-list {
    &__item {
        padding-bottom: 5px;
        @extend %textStyle;
        font-weight: bold;
    }
}

@keyframes change {
    0% {transform:translateY(10px);}
    14% {transform:translateY(-10px);}
    38% {transform:translateY(-45px);}
    63% {transform:translateY(-85px);}
    89% {transform:translateY(-125px);}
    100% {transform:translateY(-145px);}
}

    