$yellow: #fcdb00;
$darkBlue: #313841;
$grey: #898989;
$darkGrey: #555555;

%container {
    max-width: 93rem;
    margin: {
        left: auto;
        right: auto;
    }
}

%majorText {
    font: {
        family: PT_Sans;
        weight: bold;
    }
    color: #000;
}

%minorText {
    font: {
        family: PT_Sans;
        weight: normal;
    }
}

%brandName {
    @extend %majorText;
    font-size: 3rem;
    line-height: 2rem;
    margin-left: 1rem;
}

.header {
    background-color: $yellow;

    &__container {
        @extend %container;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 5rem 0;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 110px;

        &-brandName {
            @extend %brandName;  
        }
    }
}

.nav {

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 35rem;
    }
} 

.list {

    &__ref {
        font: {
            family: HelveticaNeue;
            size: 2.2rem;
            weight: bold;
        }
        line-height: 2rem;
        color: #000;
    }

    &__item:first-child &__ref {
        font-family: PT_Sans;
    }

}

.product-presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        max-width: 39.5rem;
        max-height: 28rem;  
        margin-bottom: 5rem; 
    }

    &__title {
        @extend %majorText;
        font-size: 3.2rem;
        line-height: 1.8rem;
        margin: 0;
    }

    &__description {
        @extend %minorText;
        font-size: 2rem;
        line-height: 2.4rem;
        color: $darkBlue;

        &_subtext {
            @extend %minorText;
            font-size: 1.6rem;
            line-height: 2rem;
            color: $darkGrey;
        }
    }

    &__download-variants {
        display: flex;
        justify-content: space-between;
        max-width: 19rem;
        margin-top: 5rem;
    }

    &__example {
        height: 38.5rem;
        width: 29rem;
        background-color: #000;
        border: 0px solid #fff;
        border-width: 4.5rem 1.5rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        margin: 4.3rem 3.5rem 5.5rem 0;

        &-logo {
            margin-bottom: 3.5rem;
        }

        &-text {
            @extend %brandName;
            color: $yellow;
            margin-bottom: 6rem;
        }
    }
}